{% extends "::list.html.twig" %}

{% block title %}{{ parent() }} {% trans from "category" %}category.list{% endtrans %}{% endblock %}

{% block content %}
    <a href="{{ path('intent_backend_category_create') }}" class="btn btn-default pull-right">{% trans from "category" %}category.create{% endtrans %}</a>
    <h3>{% trans from "category" %}category.list{% endtrans %}</h3>
    <table class="table" id="entity_list">
        <thead>
        <tr>
            <th>{% trans from "category" %}category.name{% endtrans %}</th>
            <th>{% trans from "category" %}category.priority{% endtrans %}</th>
            <th>{% trans from "category" %}category.count{% endtrans %}</th>
            <th>{% trans from "category" %}category.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for category in entities %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.priority }}</td>
                <td>{{ category.articles|length }}</td>
                <td>
                    <a class="table-padding" href="{{ path('intent_backend_category_edit',{'id' : category.id}) }}">
                        <span class="glyphicon glyphicon-pencil"/>
                    </a>
                    <a class="table-padding" href="{{ path('intent_backend_category_show',{'id' : category.id}) }}">
                        <span class="glyphicon glyphicon-eye-open"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
