{% extends "::editor.html.twig" %}

{% block title %}{{ parent() }} {% trans from "studio" %}studio.edit{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans from "studio" %}studio.edit{% endtrans %}</h1>
    <div class="col-md-9 editor">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-3 neta">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
