{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if app.request.get('_route') ends with '_create' %}
        {% trans from "studio" %}studio.create{% endtrans %}
    {% else %}
        {% trans from "studio" %}studio.edit{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if app.request.get('_route') ends with '_create' %}
            {% trans from "studio" %}studio.create{% endtrans %}
        {% else %}
            {% trans from "studio" %}studio.edit{% endtrans %}
        {% endif %}
    </h1>
    {{ form_start(form) }}
    <div class="col-md-9 editor">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-3 meta">
        
        {% if form.thumbnail %}
        <img src="/{{ entity.thumbnail.fullPath }}" class="img-responsive" /><br />
        {% endif %}
        {{ form_widget(form.thumbnail) }}

        {{ form_label(form.background_image) }}
        {% if entity.backgroundImage %}
            <img src="/{{ entity.backgroundImage.fullPath }}" class="img-responsive" /><br />
        {% endif %}
        {{ form_widget(form.background_image) }}

        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#studio_thumbnail').select2();

        $('#studio_background_image').select2();
    </script>
{% endblock %}
