{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if  app.request.get('_route') ends with '_create' %}
        {% trans from "page" %}page.create{% endtrans %}
    {% else %}
        {% trans from "page" %}page.edit{% endtrans %}
        <a href="{{ path('intent_backend_page_show', {'id' : entity.id }) }}" class="glyphicon glyphicon-eye-open"></a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if  app.request.get('_route') ends with '_create' %}
            {% trans from "page" %}page.create{% endtrans %}
        {% else %}
            {% trans from "page" %}page.edit{% endtrans %}
        {% endif %}
    </h1>
    {{ form_start(form) }}
    <div class="col-md-9 editor">
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
    </div>
    <div class="col-md-3 meta">
        {{ form_row(form.save) }}
        {% if is_granted('ROLE_PUBLISH_ARTICLE') %}
            {{ form_row(form.saveAndPublish) }}
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}
