{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if  app.request.get('_route') ends with '_create' %}
        {% trans from "franchise" %}franchise.create{% endtrans %}
    {% else %}
        {% trans from "franchise" %}franchise.edit{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if  app.request.get('_route') ends with '_create' %}
            {% trans from "franchise" %}franchise.create{% endtrans %}
        {% else %}
            {% trans from "franchise" %}franchise.edit{% endtrans %}
        {% endif %}
    </h1>
    <div class="col-md-9 editor">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-3 meta">
        {{ form_row(form.publisher) }}
        {{ form_row(form.studio) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#franchise_publisher').select2();

        $('#franchise_studio').select2();
    </script>
{% endblock %}