{% extends "::list.html.twig" %}

{% block title %}{{ parent() }} {% trans from "franchise" %}franchise.list{% endtrans %}{% endblock %}

{% block content %}
    <a href="{{ path('intent_backend_franchise_create') }}" class="btn btn-default pull-right">{% trans from "franchise" %}franchise.create{% endtrans %}</a>
    <h3>{% trans from "franchise" %}franchise.list{% endtrans %}</h3>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from "franchise" %}franchise.name{% endtrans %}</th>
            <th>{% trans from "franchise" %}franchise.publisher.name{% endtrans %}</th>
            <th>{% trans from "franchise" %}franchise.studio.name{% endtrans %}</th>
            <th>{% trans from "franchise" %}franchise.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for franchise in entities %}
            <tr>
                <td>{{ franchise.name }}</td>
                {% if franchise.publisher %}
                    <td>{{ franchise.publisher.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if franchise.studio %}
                    <td>{{ franchise.studio.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>
                    <a class="table-padding" href="{{ path('intent_backend_franchise_edit',{'id' : franchise.id}) }}">
                        <span class="glyphicon glyphicon-pencil"/>
                    </a>
                    <a class="table-padding" href="{{ path('intent_backend_franchise_show',{'id' : franchise.id}) }}">
                        <span class="glyphicon glyphicon-eye-open"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
