{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% trans from "franchise" %}franchise.show{% endtrans %}
{% endblock %}

{% block content %}
    <div class="col-md-9 meta">
        <div class="franchise">
            <h2>{{ entity.name }}</h2>
            {{ entity.description|raw }}
        </div>
        <div class="category col-md-12">
            <h4>{% trans from "franchise" %}franchise.categories{% endtrans %} {{ entity.name }}</h4>
            {% for name, category in categories %}
                <div class="col-md-4">
                    <h4>{{ name }}</h4>
                    {% for article in category %}
                        <a href="{{ path('intent_backend_article_show',{'id': article.id }) }}">{{ article.title }}</a><br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="game col-md-12">
            <h4>{% trans from "franchise" %}franchise.games{% endtrans %} {{ entity.name }}</h4>
            {% for game in entity.games %}
                <div class="col-md-4">
                    <a href="{{ path('intent_backend_game_show',{'id': game.id }) }}">{{ game.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3 meta">
        {% if is_granted('ROLE_PUBLISH_META') %}
            <div class="col-md-3 meta">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

