{% extends "::base.html.twig" %}

{% block title %}{% trans from "user" %}user.delete.action{% endtrans %}{% endblock %}

{% block content %}
    <h1>{{ user.username }} {% trans from "user" %}user.delete.name{% endtrans %}</h1>
    {{ form_start(form) }}
        {{ form_row(form.confirm) }}
        {{ form_row(form.user) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
