{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% trans from "user" %}user.password.reset{% endtrans %}
{% endblock %}

{% block content %}
    <h1>{% trans from "user" %}user.password.reset{% endtrans %}</h1>
    {{ form_start(form) }}
    <div class="col-md-9 editor">
        {{ form_row(form.password) }}
    </div>
    <div class="col-md-3 meta">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
