{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if  app.request.get('_route') ends with '_create' %}
        {% trans from "expansion" %}expansion.create{% endtrans %}
    {% else %}
        {% trans from "expansion" %}expansion.edit{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if  app.request.get('_route') ends with '_create' %}
            {% trans from "expansion" %}expansion.create{% endtrans %}
        {% else %}
            {% trans from "expansion" %}expansion.edit{% endtrans %}
            <a href="{{ path('intent_backend_expansion_show', {'id' : entity.id }) }}" class="glyphicon glyphicon-eye-open"></a>
        {% endif %}
    </h1>
    {{ form_start(form) }}
    <div class="col-md-9 editor">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col-md-3 meta">

        {{ form_label(form.thumbnail) }}
        {% if entity.thumbnail %}
            <img src="{{ entity.thumbnail.absolutePath }}" class="img-responsive" /><br />
        {% endif %}
        {{ form_widget(form.thumbnail) }}

        {{ form_row(form.game) }}

        {{ form_label(form.background_image) }}
        {% if entity.backgroundImage %}
            <img src="/{{ entity.backgroundImage.fullPath }}" class="img-responsive" /><br />
        {% endif %}
        {{ form_widget(form.background_image) }}

        {{ form_row(form.save) }}
        {% if is_granted('ROLE_PUBLISH_META') %}
            {{ form_row(form.saveAndPublish) }}
        {% endif %}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#expansion_game').select2();

        $('#expansion_thumbnail').select2();

        $('#expansion_background_image').select2();
    </script>
{% endblock %}
