{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% if  app.request.get('_route') ends with '_create' %}
        {% trans from "user" %}user.create{% endtrans %}
    {% else %}
        {% trans from "user" %}user.edit{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if  app.request.get('_route') ends with '_create' %}
            {% trans from "user" %}user.create{% endtrans %}
        {% else %}
            {% trans from "user" %}user.edit{% endtrans %}
        {% endif %}
    </h1>
    {{ form_start(form) }}
    <div class="col-md-9 editor">
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-3 meta">
        {{ form_row(form.role) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#user_role').select2();
    </script>
{% endblock %}
