{% extends "::list.html.twig" %}

{% block title %}{{ parent() }} {% trans from "user" %}user.list{% endtrans %}{% endblock %}

{% block content %}
    <a href="{{ path('intent_backend_user_create') }}" class="btn btn-default pull-right">{% trans from "user" %}user.create{% endtrans %}</a>
    <h3>{% trans from "user" %}user.list{% endtrans %}</h3>
    <table class="table" id="entity_list">
        <thead>
        <tr>
            <th>{% trans from "user" %}user.name{% endtrans %}</th>
            <th>{% trans from "user" %}user.role{% endtrans %}</th>
            <th>{% trans from "user" %}user.email{% endtrans %}</th>
            <th>{% trans from "user" %}user.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in entities %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if loop.last %}
                            {{ role.name }}
                        {% else %}
                            {{ role.name }} ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="table-padding" href="{{ path('intent_backend_user_edit',{'id' : user.id}) }}"><span class="glyphicon glyphicon-pencil"/></a>
                    {#<a class="table-padding" href="{{ path('',{'id' : page.id}) }}"><span class="glyphicon glyphicon-eye-open"/></a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
