{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.list{% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans from "article" %}article.list{% endtrans %}</h3>
    <a href="{{ path('intent_backend_article_create') }}" class="btn btn-default pull-right">{% trans from "article" %}article.create{% endtrans %}</a>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans from "article" %}article.title{% endtrans %}</th>
            <th>{% trans from "article" %}article.category.label{% endtrans %}</th>
            <th>{% trans from "article" %}article.related.label{% endtrans %}</th>
            <th>{% trans from "article" %}article.published.by{% endtrans %}</th>
            <th>{% trans from "article" %}article.published.at{% endtrans %}</th>
            <th>{% trans from "article" %}article.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in entities %}
            <tr>
                <td>{{ article.title }}</td>
                {% if article.category %}
                    <td>{{ article.category.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if article.related %}
                    <td>{{ article.related.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if article.createdBy %}
                    <td>{{ article.createdBy.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td>{{ article.publishAt|date('d.m.Y H:i') }}</td>
                <td>
                    <a class="table-padding" href="{{ path('intent_backend_article_edit',{'id' : article.id}) }}"><span class="glyphicon glyphicon-pencil"/></a>
                    <a class="table-padding" href="{{ path('intent_backend_article_show',{'id' : article.id}) }}"><span class="glyphicon glyphicon-eye-open"/></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '::pagination.html.twig' with { 'default_page': 'intent_backend_article_list' } %}
{% endblock %}
