{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.list{% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans from "article" %}article.list{% endtrans %}</h3>
    <a href="{{ path('intent_backend_article_create') }}" class="btn btn-default pull-right">{% trans from "article" %}article.create{% endtrans %}</a>
    <table class="table">
        <thead>
        <tr>
            <td>{% trans from "article" %}article.title{% endtrans %}</td>
            <td>{% trans from "article" %}article.category{% endtrans %}</td>
            <td>{% trans from "article" %}article.publisher{% endtrans %}</td>
            <td>{% trans from "article" %}article.studio{% endtrans %}</td>
            <td>{% trans from "article" %}article.franchise{% endtrans %}</td>
            <td>{% trans from "article" %}article.game{% endtrans %}</td>
            <td>{% trans from "article" %}article.published.by{% endtrans %}</td>
            <td>{% trans from "article" %}article.published.at{% endtrans %}</td>
            <td>{% trans from "article" %}article.actions{% endtrans %}</td>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="table-padding" href="{{ path('intent_backend_article_edit',{'id' : article.id}) }}"><span class="glyphicon glyphicon-pencil"/></a>
                    <a class="table-padding" href="{{ path('intent_backend_article_show',{'id' : article.id}) }}"><span class="glyphicon glyphicon-eye-open"/></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
