{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "article" %}article.list{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}"/>
{% endblock %}

{% block content %}
    <a href="{{ path('intent_backend_article_create') }}" class="btn btn-default pull-right">{% trans from "article" %}article.create{% endtrans %}</a>
    <h3>{% trans from "article" %}article.list{% endtrans %}</h3>
    <table class="table" id="entity_list">
        <thead>
        <tr>
            <th>{% trans from "article" %}article.title{% endtrans %}</th>
            <th>{% trans from "article" %}article.category.label{% endtrans %}</th>
            <th>{% trans from "article" %}article.related.label{% endtrans %}</th>
            <th>{% trans from "article" %}article.published.by{% endtrans %}</th>
            <th>{% trans from "article" %}article.published.at{% endtrans %}</th>
            <th>{% trans from "article" %}article.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in entities %}
            <tr>
                <td class="title">{{ article.title }}</td>
                {% if article.category %}
                    <td class="category">{{ article.category.name }}</td>
                {% else %}
                    <td class="category">&nbsp;</td>
                {% endif %}
                {% if article.related %}
                    <td class="related">{{ article.related.name }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                {% if article.createdBy %}
                    <td class="createdBy">{{ article.createdBy.username }}</td>
                {% else %}
                    <td class="createdBy">&nbsp;</td>
                {% endif %}
                <td class="publishAt">{{ article.publishAt|date('Y.m.d H:i') }}</td>
                <td>
                    <a class="table-padding"
                       href="{{ path('intent_backend_article_edit',{'id' : article.id}) }}">
                        <span class="glyphicon glyphicon-pencil"/>
                    </a>
                    <a class="table-padding" href="{{ path('intent_backend_article_show',{'id' : article.id}) }}">
                        <span class="glyphicon glyphicon-eye-open"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                "order" : [[ 4, "desc" ]],
                "language": {
                    "url": "/js/datatable_de.json"
                }
            });
        });
    </script>
{% endblock %}

