{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} {% trans from "game" %}game.list{% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans from "game" %}game.list{% endtrans %}</h3>
    <a href="{{ path('intent_backend_game_create') }}" class="btn btn-default pull-right">{% trans from "game" %}game.create{% endtrans %}</a>
    <table class="table">
        <thead>
        <tr>
            <td>{% trans from "game" %}game.name{% endtrans %}</td>
            <td>{% trans from "game" %}game.franchise{% endtrans %}</td>
            <td>{% trans from "game" %}game.studio{% endtrans %}</td>
            <td>{% trans from "game" %}game.publisher{% endtrans %}</td>
            <td>{% trans from "game" %}game.actions{% endtrans %}</td>
        </tr>
        </thead>
        <tbody>
        {% for game in entities %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.franchise.name }}</td>
                <td>{{ game.studio.name }}</td>
                <td>{{ game.franchise.publisher.name }}</td>
                <td><a class="table-padding" href="{{ path('intent_backend_game_edit',{'id' : game.id}) }}"><span class="glyphicon glyphicon-pencil"/></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '::pagination.html.twig' with { 'default_page': 'game' } %}
{% endblock %}
