{% extends "::editor.html.twig" %}

{% block title %}
    {{ parent() }}
    {% trans from "game" %}game.show{% endtrans %}
{% endblock %}

{% block content %}
    <div class="col-md-9 meta">
        <div class="game">
            <h2>
                {{ entity.name }}
                <a href="{{ path('intent_backend_game_edit', {'id' : entity.id}) }}" class="glyphicon glyphicon-pencil"></a>
            </h2>
            {{ entity.description|raw }}
        </div>
        <div class="category col-md-12">
            <h4>{% trans from "game" %}game.categories{% endtrans %} {{ entity.name }}</h4>
            {% for name, category in categories %}
                <div class="col-md-4">
                    <h4>{{ name }}</h4>
                    {% for article in category %}
                        <a href="{{ path('intent_backend_article_show',{'id': article.id }) }}">{{ article.title }}</a>
                        <br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if entity.expansions|length < 0 %}
            <div class="expansion col-md-12">
                <h4>{% trans from "game" %}game.expansions{% endtrans %}</h4>
                {% for expansion in entity.expansions %}
                    <div class="col-md-4">
                        <a href="{{ path('intent_backend_expansion_show',{'id': expansion.id }) }}">{{ expansion.name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}